<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rum.ksc_back.Dao.PicMapper">

    <select id="getPicUrl" resultType="java.lang.String">
        select picUrl from pic where picId=#{picId}
    </select>
</mapper>